Image Processing Project Document.docx
Image Processing Project Document.pdf
Image Processing Project Final Document.docx
OCR to Speech Conversion Project.pptx
OCR to Speech Conversion Project.zip
ocr-dataset-50.rar
Sequence Diagram.drawio
Sequence Diagram.drawio.png